html, body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  background-color: #1b1b1b;
  color: #fcfcff;
}

* {
  *:focus {
    outline: none;
  }
 }


 @font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/m3_icons/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2) format('woff2');
  }

/* Base icon class */
.m3-icon {
  font-family: 'Material Symbols Outlined';
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* 
  .m3-icon settings:

  font-size: 12px;
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 16;
*/

/* Local Fonts */
 @font-face {
  font-family: 'Roboto Slab';
  font-style: normal; 
  font-weight: 100 900;
  src: url(/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
  }

  @font-face {
  font-family: 'Stoke';
  font-style: normal; 
  font-weight: 400;
  src: url(/Stoke/Stoke-Regular.ttf) format('truetype');
  font-display: swap;
  }


/* Modern Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #494949;
}

html, body {
  scrollbar-color: #494949 transparent;
  scrollbar-width: thin; 
  
  scrollbar-gutter: stable both-edges;
}